.articleContent {
    width: 938px;
    padding: 15px;
    margin-top: 26px;
    margin-bottom: 64px;
    height: 800px;
    background: #ffff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.articleContent .articleListItem {
    box-shadow: none;
    padding: 0;
}

.articleContent .articleDescription,
.articleContent .articleTags .ant-tag{
    color: rgba(0, 0, 0, 0.5)
}
.articleListItem {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 15px;
    width: 938px;
    height: 140px;
    overflow: hidden;
    background: #ffff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.articleInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.likes {
    display: flex;
    align-items: center;
    gap: 13px;
}

.articlePrewTitle {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #1890FF;
}


.articleDescription {
    font-size: 12px;
    line-height: 22px;
    width: 682px;
    margin: 0;
}

.articleAuthor {
    display: flex;
    gap: 12px;
}

.articleAuthorDate {
    display: flex;
    flex-direction: column;
}

:where(.css-dev-only-do-not-override-1i536d8).ant-statistic .ant-statistic-content {
    font-size: 14px;
}